@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
body {
  margin: 0;
  padding: 0;font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #282c34; */
}

header>div:nth-child(1){
    flex: 1;
}
header>div:nth-child(2){
    flex: 3;text-align: right;
}
.btn{padding: 7px 5px;overflow: hidden;cursor: pointer;}
#messagebar{
    font-size: 16px;
    font-weight: normal;    white-space: nowrap;margin-bottom: -11px;
}
.text-red{
    color: #f44336!important;
}
.text-blue{
    color: #2196f3!important;
}
.text-notice{
    color: #d3d621!important;
}
.text-success{
    color: #21f396!important;
}


.bg-success{
    background: #21f39650!important;color: #333;
}
.bg-primary{
    background: #2196f350!important;color: #333;
}
.bg-red{
    background: #f4433650!important;color: #333;
}
.bg-notice{
    background: #e3d62150!important;color: #333s;
}
.bg-secondary{
    background: rgba(120,120,120,.5)!important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



.MuiListItemText-inset:first-child{
    padding-left: 1rem!important;
}
div[class*="MuiButtonBase-root"]{
     padding-top: 0!important;padding-bottom: 0!important;
}
#leftMenu a{
    width: 100%;color:#333;padding: 11px 0;
}
.secondaryList>div>div{
    padding-left: 2rem!important;
    padding-top: 0!important;padding-bottom: 0!important;
}

.MuiTypography-subheading-60 {
    width: 5rem;
    white-space: nowrap;
    overflow: hidden;
}
.backdrop{
    position: fixed;top: 0;left: 0;bottom: 0;right: 0;background: rgba(150,150,150,.5);z-index: 1000000;
}
.absoluteCenter{
    position: absolute;top: 50%;left: 50%;
    -webkit-transform: translate(-50%, -90%);
       -moz-transform: translate(-50%, -90%);
        -ms-transform: translate(-50%, -90%);
         -o-transform: translate(-50%, -90%);
            transform: translate(-50%, -90%);
}
.pointer{
    cursor: pointer;
}
/* table */
#rightContent>div{margin-top: 0;height: 100%;}
.MuiTablePagination-root-137:last-child {
    padding: 0;
    position: absolute;
    bottom: 0;
    right: 50px;}
/* message */
.mail-message{
    list-style: none;min-width: 400px;
}

.right{
    position: absolute;right: 5rem;
}

.produceShowTable{
    border-collapse: collapse;
}
.produceShowTable tr{
    padding: 4px 0;
}
.produceShowTable thead tr{
    background: #adadad;
}
.produceShowTable thead th{
    padding: 12px 0;
}
.produceShowTable td,.produceShowTable  th{
    padding: 7px 2px;border:1px solid #ccc;
    border-left: 0;
    border-right: 0;
}
.produceShowTable th{
    border-bottom:0;border-top:0;padding-bottom: 1rem;/* background: #333;color: #fff; */
}


.myConfirm div[class*="MuiDialog-paperWidthSm"]{
    margin-top: -150px;
}
.select.leftSelect{width: 80px!important;}
.addProcedureBtn:hover{
    color: #3399dd;
}

#rightContent div[class*='MuiTablePagination-root'] div[class*='MuiInputBase-root'] > div,
#rightContent div[class*='MuiTablePagination-root'] span[class*='MuiTablePagination-caption']:nth-child(2)
{display: none;}


div[class*='MuiFormLabel-root'] {
    color: rgba(0, 0, 0, 0.54);
    padding: 0;
    font-size: .75rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1;
}
.nowrap, table{
    white-space: nowrap;
}

#produceShowTableHead th, #produceShowTable td{
    width: 10%;
}
#produceShowTableHead th:nth-child(1), #produceShowTable td:nth-child(1){
    width: 6.5%;
}
#produceShowTableHead th:nth-child(2), #produceShowTable td:nth-child(2), #produceShowTableHead th:nth-child(3), #produceShowTable td:nth-child(3){width: 17.5%;}
#dutyModal div[class*='MuiBackdrop']{
    opacity:  0!important;
}
.emptyShow{
    position: absolute;color: #888;font-style: italic;
        top: 15rem;
        left: 45%;
}
.chipActive{
    background: #3366bb;color: #fff;
}
.dutyChip{ overflow: hidden; }
.dutyChip span{height: 100%;}
.mailDialog div[class*='MuiDialog-container']>div{
    max-width: 95%;
}

.modal.lg div[class*='MuiDialog-container']>div{
    max-width: 45%;
}


.showPage *, .mailDialog *{
    font-size: 32px!important;
}

.showPage td{padding: 2rem 0!important;}
#rightContent>div.work-calendar{width: 80%; height:90%; margin: 2rem auto 0;overflow: hidden;}
.work-calendar button{box-shadow: none!important;}
.work-calendar .fc-button-primary,.work-calendar .fc-button-primary:focus,.work-calendar .fc-button-primary:active{background: none!important;border:none;color:#333;}
.work-calendar .fc-button-primary:hover,.work-calendar .fc-button-primary:focus,.work-calendar .fc-button-primary:active{color:#4488cc;}
.work-calendar .fc-button-primary:active, .work-calendar .fc-button-primary:focus{background: #336699;}
.work-calendar button.fc-button-primary span {padding: 0 3px;}

.work-calendar .fc-event, .work-calendar .fc-event-dot{/* background: none;border: none;color: #333; */text-align: center;display: inline-block;
    border-radius: 50%;cursor: pointer;
    /* pointer-events: none; */
    overflow: hidden;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;transition: 2s;
}
.fc-content .fc-title{pointer-events: none;}
/* .work-calendar .fc-content-skeleton, .work-calendar .fc-content-skeleton table{height: 100%;} */
/* .work-calendar .fc-content-skeleton{position: absolute;top: 0;left: 0;} */
/* .work-calendar .fc-content-skeleton table{position: relative;} */
.work-calendar .fc-content-skeleton table tbody{text-align: center;}
.work-calendar .fc-prev-button, .work-calendar .fc-next-button{
    padding: 0;
}
.work-calendar .fc-today-button{
    background: none;color: #333;border: none;font-weight: bold;cursor: pointer;
}
/* .work-calendar .fc-toolbar {
    justify-content: left;
} */
.work-calendar .fc-toolbar .fc-left{
    flex: 1;white-space: nowrap;
}
.work-calendar .fc-toolbar .fc-right{
    font-size: smaller;padding-top: 13px;padding-left: 1rem;flex: 5;
}

.work-calendar .fc-event, .work-calendar .fc-event-dot{}
.work-calendar .fc-content-skeleton tbody td:nth-child(6) .fc-event,
.work-calendar .fc-content-skeleton tbody td:nth-child(6) .fc-event-dot,
.work-calendar .fc-content-skeleton tbody td:nth-child(7) .fc-event,
.work-calendar .fc-content-skeleton tbody td:nth-child(7) .fc-event-dot{
    background: #d89322;
    border-color: #d87522;
}
.hide{
    display: none!important;
}
